@import url("https://fonts.googleapis.com/css?family=Poppins:300,regular,500,600,700,100,200,800,900%7CDM+Serif+Display:regular,italic&amp;subset=latin%2Clatin-ext?ver=8739"); 

id {
margin: 0;
padding: 0;
box-sizing: border-box; 
}
body{
    font-family:"Montserrat", "sans-serif";
    overflow-x: hidden;
}
.wrapper {
 width: 100vw;
 height: 100vh;
 background-color:blue
}
.navbar{
    display: flex auto;
    justify-content: space-between;
    padding: em
}
.brand{
    width: 150px;
    margin-top: -7px;
}
.banner{
    width: 100vw;
    height: 50vh;
    background-color: blue;
}
.menu {
    display: flex;
    width: 50%;
    justify-content: space-around;
}
.menu li a {
    list-style: none;
}
.menu a {
    color:aliceblue
    text-decoration none;
    padding: 10px 20px;
}
.menu .active{
    color:aqua
}
.menu a:hover{
    background-color: aqua;
    color:blue
    transition ease-in .4s;
}
.main {
    margin: 0 auto;
    width: 80vw;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
}
h1{
    font-size: 3em;
}
.download-cv {
    padding: 10px 20px;
    background-color: aqua;
    border: none;
    border-radius: 20px;
    margin-top: 2em;
    cursor: pointer;
    box-shadow: 1px 3px 11px -5px rgba(102,231,200,.69);
    margin-bottom: 2em;
}
.download-cv:hover {
    background-color:white;
    box-shadow: none;
}
.main img {
    width: 350px;
    border: 7px solid aqua;
    margin-top: 2em;
}
.portfolio {
    width: 100vw;
    background-color: blue;
    color: white;
}
.portfolio-headings {
    width: 100vw;
    padding: 5em;
}
.portfolio-headings h2 {
    font-size: 2.5em;
}
.portfolio-container {
    width: 80vw;
    height: 80vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.card {
    width: 300px;
    height: 350px;
    color: white;
    background-color: #101e4b;
    margin: 1em;
}
.card-img {
    width: 100%;
    height: 150px;
    background-image: url(Images/proyecto.jpg);
    background-size: cover;
}
.card-title {
    padding: 20px;
}
.card-project-links {
    display: flex;
    justify-content: space-evenly;
}
.card-project-links a {
    color: white;
    text-decoration: none;
}
.card-project-links i {
    font-size: 1.5em;
}
.card .project-details {
    margin: 0 auto
    margin: 1em;
    width: 70%; 
}
.card .project-details a {
    text-decoration: none;
    color: blue;
    text-transform: uppercase;
}
.project-details-content {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 1em;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 200px;
    background-color: aqua;
}
.footer-content h5{
    font-size: 1.5em;
}
.sotial-network {
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    margin-top: 1em;
}

    